<div class="col-md-8 col-md-offset-2" style="margin-bottom:40px;">
<div class="message-show">
<h2><%= @message.title %></h2>
<p class="message-posted-by" style="color:red;">Posted by: <%= @message.user.email %> <%= time_ago_in_words(@message.created_at) %> ago</p>
<p class="message-desc"><%= @message.description %></p>

<h3>Comments: </h3>
<%= render @message.comments %>

<h3 class="reply-to-message">Reply to Message</h3>
<%= render 'comments/form' %>

<div class="links btn-group">
<%= link_to "Back", root_path, class: 'btn btn-default' , style: 'background-color:black;' %>
<% if user_signed_in? %>
<% if @message.user_id == current_user.id %>
  <%= link_to "Edit", edit_message_path(@message), class: 'btn btn-default', style: 'background-color:black;' %>
  <%= link_to "Delete", message_path(@message), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-default', style: 'background-color:black;' %>
<% end %>
<% end %>
</div>
</div>
</div>