<div class="comment">
<p class="comment-content"><%= comment.content %></p>
<p><%= avatar_for(comment.user, size: 20) %></p>
<p class="comment-posted-by" style="color:red;">Posted by <%= comment.user.email %><%= time_ago_in_words(comment.created_at) %> ago</p>

<div class="links" >
<% if user_signed_in? %>
<% if comment.user_id == current_user.id %>
  <%= link_to "", edit_message_comment_path(comment.message, comment), class: 'fa fa-edit fa-2x' %>
  <%= link_to "", message_comment_path(comment.message, comment), method: :delete, data: { confirm: "Are you sure?" }, class: 'fa fa-trash fa-2x' %>
<% end %>
<% end %>
</div>
</div>